.container {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

.cards {
  flex: 1 1 60%;
}

.map {
  flex: 1 1 30%;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .cards, .map {
    width: 100%;
  }
}
